<div class="text-center">
    <h1 class="text-danger">Access Denied!!</h1>
    <h5>You don't have permission to view this Resource</h5>
    <img src="~/images/accessDenied.jpg" style="height:300px" width="500px" class="m-5" />
</div>