<h3>An Error Occured while processing your Request</h3>
<h5>Please contact us on getHelpFromNirmal@gmail.com</h5>
<hr />

@*<h3>Exception Details</h3>
<div class="alert alert-danger">
    <h5>Exception Path</h5><hr />
    <p>@ViewBag.ExcPath</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Message</h5><hr />
    <p>@ViewBag.ExcMsg</p>
</div>

<div class="alert alert-danger">
    <h5>Exception Stack Trace</h5><hr />
    <p>@ViewBag.StackTrace</p>
</div>*@